.open-menu{
    background-color: transparent;
    color: #fff;
    font-size: 1.063rem;
    cursor: pointer;
    display: none;
}

.fa-bars{
    padding: 0.625rem;
    border-radius: 0.313rem;
    background-color: rgb(0, 153, 188, 0.7);
}

@media screen and (max-width: 767px){
    .navigation-list{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navigation-list li{
        margin: 0.5rem;
    }

    .open-menu{
        display: block;
    }

    .navigation-list.show{
        display: flex;
    }
}

@media (max-width: 600px){
    #btn{
        margin-left: 0.25rem;
    }
    .memory-board{
        grid-template-columns: repeat(4, minmax(45px, 1fr));
        grid-template-rows: repeat(4, minmax(45px, 1fr));
    }

    .rules h1, .project-header, .contact-header, .about h1{
        text-shadow: none;
        -webkit-text-stroke: 0.025rem black;
    }

    .rules h3, figcaption a, .about h3{
        text-shadow: none;
    }
}
