/* Navigation Styling */
#home{
    display: unset !important;
}

/* Changelog Table Styling */
.table-wrapper{
    min-height: calc(100vh - 3.85rem - 8.5rem);
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    line-height: 1.25;
}

table caption{
    font-size: 1.25rem;
    margin-bottom: 3rem;
    color: #fff;
    text-shadow: 0.125rem 0.125rem 0.25rem #333, 0 0 0.063rem #000;
}

table{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
  
table tr{
    border: 0.063rem solid #A73399;
    background-color: rgba(238,99,187,.2);
    border-radius: 0.313rem;
    padding: 0.35rem;
}
  
table td{
    color: #fff;
    padding: 0.625rem;
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.25rem #333, 0 0 0.063rem #000;
}
  
table th{
    color: #292933;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0.625rem;
    text-align: center;
}
  
@media screen and (max-width: 600px){
    table{
        border: 0;
        margin-bottom: 3rem;
    }
  
    table caption{
        font-size: 1.3em;
    }
    
    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    table tr{
        border: 0.063rem solid #A73399;
        display: block;
        margin-bottom: .625em;
    }
    
    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    
    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    table td:last-child{
        border-bottom: 0;
    }
}
